{% extends "base.html" %}

{% block content %}

<div class="container">
	<h3 class="text text-center">Covid Predictor</h3>
	<div class="container">
		{% if data %}

			{{ result }}

		{% endif %}
	</div>
	<div class="container">
		<form method="post" action="/" class="form-group">
			{% csrf_token %}
			<h4 class="text text-justify text-center"> Enter your details: </h4>

					<div class="row">
						<div class="col col-md-3">
							<label for="pulse">
								<h5 class="text text-dark">Pulse</h5>
							</label>
						</div>
						<div class="w-100"></div>
						<div class="col col-sm">
							<div class="form-group">
								<input required id="pulse" type="number" class="form-control" name="pulse" 	placeholder="Pulse rate reading (BPM)" value="{{ pulse }}">
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col col-md-3">
							<label for="oxy">
								<h5 class="text text-dark">Oxygen</h5>
							</label>
						</div>
						<div class="w-100"></div>
						<div class="col col-sm">
							<div class="form-group">
								<input required id="oxy" type="number" class="form-control" name="oxygen" 	placeholder="Oximeter values (SpO2)"
								value="{{ oxygen }}">
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col col-md-3">
							<label for="tem">
								<h5 class="text text-dark">Temperature</h5>
							</label>
						</div>
						<div class="w-100"></div>
						<div class="col col-sm">
							<div class="form-group">
								<input required id="tem" type="number" class="form-control" name="temp" placeholder="Body Temperature (F)" value="{{ temperature }}">
							</div>
						</div>
					</div>

					<div align="center">
						<input type="submit" name="predict" value="predict" class="btn btn-outline-info">
					</div>
			
		</form>
	</div>
</div>
{% endblock %}