{% extends "base.html" %}

{% block content %}
<div class="container" align="center">
	<img src="https://raw.githubusercontent.com/NaNdalal-dev/Predict-Covid/main/predict_covid_site/static/imgs/covsafe2.png" class="img img-fluid" height="100" width="100">
</div>
<div class="container">
	<h3 class="text text-center">Covid Predictor</h3>
	<div class="container">
		{% if data %}
			<div class="row row-sm-3">
				<h5 class="alert alert-{{ alert }} alert-dismissible fade show" role="alert"> 
					You Tested {{ result }}
					<span type="button" class="btn btn-sm close" data-dismiss="alert" aria-label="Close">
					    <span aria-hidden="true">&times;</span>
					 </span>
				</h5>
			</div>
		{% endif %}
	</div>
	<div class="container">
		<form method="post" action="/" class="form-group">
			{% csrf_token %}
			<h4 class="text text-justify text-center"> Enter your details: </h4>

					<div class="row">
						<div class="col col-md-3">
							<label for="pulse">
								<h5 class="text text-dark">Pulse</h5>
							</label>
						</div>
						<div class="w-100"></div>
						<div class="col col-sm">
							<div class="form-group">
								<input required id="pulse" type="number" class="form-control" name="pulse" 	placeholder="Pulse rate reading (BPM)" value="{{ pulse }}">
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col col-md-3">
							<label for="oxy">
								<h5 class="text text-dark">Oxygen</h5>
							</label>
						</div>
						<div class="w-100"></div>
						<div class="col col-sm">
							<div class="form-group">
								<input required id="oxy" type="number" class="form-control" name="oxygen" 	placeholder="Oximeter values (SpO2)"
								value="{{ oxygen }}">
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col col-md-3">
							<label for="tem">
								<h5 class="text text-dark">Temperature</h5>
							</label>
						</div>
						<div class="w-100"></div>
						<div class="col col-sm">
							<div class="form-group">
								<input required id="tem" type="number" class="form-control" name="temp" placeholder="Body Temperature (F)" value="{{ temperature }}">
							</div>
						</div>
					</div>

					<div align="center">
						<input type="submit" name="predict" value="predict" class="btn btn-outline-info" id="test">
						
						<a href="https://github.com/NaNdalal-dev/Predict-Covid" class="btn btn-link">
							<h2><span class="fa fa-github"></span></h2>
						</a>
					</div>

			
		</form>
		<div class="row">
						<div class="col col-md">
							<label for="tem">
								<small class="text text-dark">
								 <a href="https://get-global-covid-data.herokuapp.com/">
								 	Click here for safety precautions
								 </a>
								</small>
							</label>
						</div>
		</div>
	</div>
</div>
<hr>
<div class="">
	
</div>
<!--Share-->
<div class="container">
	<div align="center">
		<h4 class="text-justify text-center"><b>Share</b></h4>
		<a href="http://twitter.com/share?text=Check Your Covid status using Covid Predictor&url={{path}}" class="btn btn-link">
			<h4><span class="fa fa-twitter"></span></h4>
		</a>
		<a href="mailto:?subject=Check Your Covid status using Covid Predictor&body={{path}}" class="btn btn-link">
			<h4><span class="fa fa-envelope"></span></h4>
		</a>
		<a href="https://api.whatsapp.com/send?phone=&text=Check Your Covid status using Covid Predictor | {{path}}" class="btn btn-link">
			<h4><span class="fa fa-whatsapp"></span></h4>
		</a>
	</div>
</div>
<hr>
<!--Social Media-->
<div class="container">
	<div align="center">
		<h4 class="text-justify text-center"><b>Social Media and Contacts</b></h4>
		<a href="https://twitter.com/Nandalal7896" class="btn btn-link">
			<h4><span class="fa fa-twitter"></span></h4>
		</a>
		<a href="https://www.instagram.com/coding_vs_programming/" class="btn btn-link">
			<h4><span class="fa fa-instagram"></span></h4>
		</a>

		<a href=" https://github.com/NaNdalal-dev" class="btn btn-link">
			<h4><span class="fa fa-github"></span></h4>
		</a>
		<a href="https://www.youtube.com/channel/UCa7WJu7_ztmDhA0YeBQzrpg" class="btn btn-link">
			<h4><span class="fa fa-youtube"></span></h4>
		</a>
		<a href=" https://www.linkedin.com/in/nandalala-dintakurthi-6327ba195/" class="btn btn-link">
			<h4><span class="fa fa-linkedin"></span></h4>
		</a>
		<a href="mailto:nd90981@gmail.com" class="btn btn-link">
			<h4><span class="fa fa-envelope"></span></h4>
		</a>
	</div>
</div>
{% endblock %}